.idea
.DS_Store
*.log
*.html
*.bak

node_modules

# prefix change sign.
.wppl-prefix-changed

vendor/*

# You may want to include only autoloader scripts. Uncomment these two lines.
# !vendor/autoload.php
# !vendor/composer
